*.aux
*.out
*.log
*.asv
*.rt-windows
*.gz
*.synctex
*.toc
*.gz(busy)
*.m~
*.bbl
*.blg
*.fdb_latexmk

report/lab_report.toc

report/lab_report.toc

report/lab_report.bbl

report/lab_report.toc


slprj/

helikopter_quarc_windows/
