*-eps-converted-to.pdf
*.aux
*.out
*.log
*.asv
*lab_report.pdf
slprj/
helikopter_quarc_windows/
*.rt-windows

*.gz

*.synctex

*.toc

*.gz(busy)

*.toc

*.toc

*.toc

report/TSWLatexianTemp_lab_report.tex

report/TSWLatexianTemp_000046.tex

report/TSWLatexianTemp_000046.pdf

report/lab_report.toc

*.m~

*.bbl

*.bbl

*.blg

*.fdb_latexmk

*.toc
